@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*, *::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root 
{
    --border-color: rgb(223, 223, 223);
    --gray: rgb(88, 88, 88);
    --green: rgb(41, 157, 192);
    --orange: #f54b01;
    --dark-orange: #af3805;
    --black: rgb(0, 0, 0);
}
body
{
    min-width: 320px;
    background-color:rgb(24, 24, 24);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
svg 
{
    fill: white;
}
button 
{
    border:none;
}
a 
{
    text-decoration: none;
    color:black;
    &:hover 
    {
        color:var(--orange);
    }
}
li 
{
    list-style: none;
}